My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a4fa8514-0279-4288-99ab-e30fa2b0c13b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "User-Agent",
              "value": "n8n"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "cd837da3-b9be-4633-a0ea-88d586e54d2b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "8f93fdd6-2308-4c9b-87e7-838ddd30b630",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        624,
        208
      ],
      "id": "16fc20ad-5a36-4d8d-bb4e-3378ba4ed902",
      "placeholder": true
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"login\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "user-agent",
              "value": "n8n"
            },
            {
              "name": "accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -96
      ],
      "id": "83acbb68-0329-4e0b-bbdf-39027db98057",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b69ea519-d577-4484-a5ff-008d4735e855",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "0ab96e94-3a93-4ea5-ae9c-6433f98aa6aa",
              "leftValue": "={{$json[\"public_repos\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "86b7314a-960b-45ca-9767-893b75bebb86",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        -96
      ],
      "id": "376c3f98-2b93-4e7b-ba3a-34536e816af0",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb3467c5-92e4-40a9-aee0-5901de47431f",
              "name": "name",
              "value": "={{$json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "c53c5eba-8a4b-4110-97e4-11cec9cca792",
              "name": "bio",
              "value": "={{$json[\"bio\"]}}",
              "type": "string"
            },
            {
              "id": "280e7a8e-5749-4fbe-90e6-304e52de3306",
              "name": "company",
              "value": "={{$json[\"company\"]}}",
              "type": "string"
            },
            {
              "id": "8fd418b3-4c12-425d-a28b-4a5e13028a94",
              "name": "pitch",
              "value": "=We’d love to connect and explore AI collaboration opportunities.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        -192
      ],
      "id": "a1a85586-295c-4807-acc0-ade10b36157e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚀 High Value Lead Detected!\n\n👤 Name: {{$json[\"name\"]}}\n🏢 Company: {{$json[\"company\"]}}\n🧠 Bio: {{$json[\"bio\"]}}\n\n💡 Pitch:\n{{$json[\"pitch\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1600,
        -192
      ],
      "id": "63f25145-0bac-41d5-89d1-60ab19f5c664",
      "name": "Discord",
      "webhookId": "7ddcd07a-39ec-4055-bcf3-87914f7e62df",
      "credentials": {
        "discordWebhookApi": {
          "id": "eJS5Rc9gX04S10zw",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1bc64f41-9705-4af9-b678-29c9505356e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e31d8802fc1da767c3b585d4590c5437ce02b3f870718618789364b806bcc37d"
  },
  "id": "sUngRBIpGPVFxLSf",
  "tags": []
}